  <div class="message">
    <div class="message-top">
      <div class="message-user">
        <%= message.user.name %>
      </div>
      <div class="message-date">
        <%= l message.created_at %>
      </div>
    </div>
    <div class="message-content">
      <%= message.content %>
    </div>
  </div>


  <%# <div class="message">
    <div class="message-top">
      <div class="message-user">
        ユーザー
      </div>
      <div class="message-date">
        2023/3/31(Wed) 12:34:56
      </div>
    </div>
    <div class="message-content">
      おはよう
    </div>
  </div> %>
